.headera{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: tomato;
    
}
.headerb{
    width: 300px;
    height: 80px;
    background-image:linear-gradient(to left,tomato,lightblue);
}
.headerc{
    width: 300px;
    height: 100px;
    /* background-image: url(http://britannia.co.in/images/britLogo.png); */
    background-image: url(/img/img1.png);

    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 40px 40px 10px 0px;
    background-position: top;
}
li{

    display: inline; 
    float: right;
    color: #fff;
    padding-top: 20px;
    margin-left: 10px;
    cursor: pointer;

}
#search{
    color: #fff;
    float: left;
    margin-top: 24px;
    margin-left: 20px;

}
#menu{
    color: #fff;
    float: left;
    margin-top: 24px;
    margin-left: 20px;
}
.body{
    width: 100%;
    height: 800px;
    /* background-image: url(http://britannia.co.in/images/Tiger_Desktop.jpg); */
    background-image: url(/img/img2.jpg);
    background-size: cover;
    
}
.center{
    width: 100%;
    height: 470px;
}
#first{
    margin-left: 300px;
    margin-top: 110px;
    cursor: pointer;
}
#second{
    margin-left: 25px;
    cursor: pointer;
}
#third{
    margin-left: 25px;
    cursor: pointer;

}
.footer{

    width: 100%;
    height: 300px;
    background-color:#00993f;
}
table,td,th{
    width: 1100px;
    padding-top: 10px;
    margin-top: 100px;
    margin-left: 100px;
}
td{
    height: 25px;
    text-align: left;
    color: aliceblue;
}    
th{
    text-align: left;
    color: #fff;
}
#footerf{
    color: rgb(254, 252, 252);
    float: right;
    margin-right: 280px;
    margin-top: -200px;
    cursor: pointer;
}
#footert{
    color: rgb(247, 240, 240);
    float: right;
    margin-right:250px;
    margin-top: -200px;
    cursor: pointer;
}
#footery{
    color: rgb(254, 247, 247);
    float: right;
    margin-right:220px;
    margin-top: -200px;
    cursor: pointer;
}
h5{
    /* text-align: right; */
    margin-top: 20px;
    float: right;
    margin-right: 80px;
    color: rgb(242, 239, 239);
}
*{
    margin: 0;
    padding: 0  ;
}

